---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

`hpe_morpheus_group` resource ....

## Example Usage

{{ tffile "internal/subproviders/morpheus/resources/group/example.tf" }}

{{ .SchemaMarkdown | trimspace }}
