---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Roles in HPE Morpheus Enterprise control what access levels of Morpheus resources and features a User or Tenant (Account) has access to.

## Example Usage

{{ tffile "internal/subproviders/morpheus/datasources/role/example-id.tf" }}

{{ tffile "internal/subproviders/morpheus/datasources/role/example-name.tf" }}

{{ .SchemaMarkdown | trimspace }}

