---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: {{ $arr := split .Name "_" }}"{{ index $arr 1 }}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---
# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

`hpe_morpheus_environment` data source ....

Provides a Morpheus environment data source.

## Example Usage

{{ tffile "../../internal/subproviders/morpheus/datasources/environment/example-id.tf" }}

{{ tffile "../../internal/subproviders/morpheus/datasources/environment/example-name.tf" }}

{{ .SchemaMarkdown | trimspace }}
